.container {
    max-width: 1200px;
    margin: auto;
}

.weatherCard {
    display: flex;
    padding: 10px;
    border-radius: 50px;
    overflow:hidden;
    box-sizing: border-box;
}

.map {
    width: 60%
}

.map iframe {
    width: 100%;
    height: 400px;
}

.weatherContent {
    width: 40%;
    padding: 24px;
    box-sizing: border-box;
}

.cityName {
    font-size: 24px;
    font-weight: 600;
    color: #e1e7f1;
    margin-bottom: 16px;
    text-align: center;
}

.mainWeather {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
}

.weatherIcon {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-left: 16px;
}

.weatherDescription {
    font-size: 18px;
    color: #d6d6d6;
    text-align: center;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.weatherDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.detailItem {
    display: flex;
    align-items: center;
    color: #cdd2d8;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #4b5563;
    padding: 20px;
}

.warningMsg {
    margin: 10px;
    max-width: 400px;
    padding: 8px;
    background-color: rgba(255, 155, 118, 0.6);
    border-radius: 15px;
    border: 2px solid orangered;
}

.errorIcon {
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 600px) {
    .weatherCard {
        border-radius: 40px;
        width: 100%;
        flex-direction: column;
    }

    .map {
        width: 100%;
    }
    
    .weatherContent {
        width: 100%;
        padding: 10px;
    }
}