.main {
  color: white;
  text-align: center;
  margin: 0 10px;
}

.main > p {
  font-size: 1.2rem;
}

.cardList {
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 210px;
  padding: 15px 0;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(119, 131, 183);
}

.card h2 {
  margin-top: 0;
}
